.main-nav{
    margin-top: 10px;
    list-style:none;
    padding: 0px;
    background-color: #13a4a4;
    /*display: flex;
    justify-content: space-between;*/
    
    
}
.main-nav__item{
    display: inline-block; 
}
.main-nav__item a{
    color: whitesmoke;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    background-color: rebeccapurple;
}
.main-nav__item a:hover{
    color: yellow;
}
.main-nav__item a:active{
    color: red;
}
.main-nav__item a::after{
    content: " | ";
}

/* https://developer.mozilla.org/es/docs/Web/CSS/Pseudoelementos
https://developer.mozilla.org/es/docs/Web/CSS/Pseudoelementos
https://en.bem.info/methodology/faq/#why-bem*/

