*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
}
.logo{
    width: 110px;
    height: 100%;
    margin-top: 5px;
    margin-left: 5px;
}

header{
    
    display: flex;
    margin: 5px 5px 0px 0px; 
    justify-content:space-between;
    border: white solid 2px;
    border-radius: 5px;
}
.tub{
    width: 180px;
    height: 60px;
    margin-top: 10px;
    
}
.sec1{
    
    display: inline-block;
    position: relative;
    
    
    
}
.sec2{
    display: inline-block;
    
}
.lista{
    display: inline-block;

}
ul > li{
    display: inline-block;
    margin: 20px;
    position: relative;
    color: white;
    padding: 10px;
    
}
.sec1 p{
    
    display: inline-block;
}
.panel{
    
    border-radius: 5px;
    margin: 0px;
    width: 350px;
    height: 800px;
    display: inline-block;
    
    border: white solid 1px;
    
}

.lista2{
    display: grid;
    width: 100%;
    height: 100%;

}

.lista2 > li{
    color: white;
    display: inline-block;
    width: auto;
    height: 150px;    
    justify-self: center;
    border-radius: 5px;
    background-color: white;
    
}
main{
    display: grid;
    grid-template-columns: auto 1fr ;
    grid-template-rows: 1fr;
    border: solid white 1px;
    margin: 5px 5px 0px 0px;
    border-radius: 5px;
    
    
}
.contenido{
    
      
    width: 100%;
    justify-content: left;
    display: grid;
    
    grid-template-rows: auto auto ;
    
    
}
img{
    width: 190px;
}
.unico{
    color: white;
    font-size: large;
    text-align: justify;
    margin: 20px;
    
    
}
.contenido >p{
    color: white;
    border: white solid 1px;
    text-align: justify;
    font-size: medium;
    padding: 10px;
}
footer {
    color: white;
    border: solid white 1px;
    height: 40px;
    margin: 5px 5px 10px 0px;
    border-radius: 5px;
    
    
}
footer p{
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
    
}